<div class="page-header">
  <%= link_to checks_path, class: 'btn btn-warning mb-3' do %>
    All Hands
  <% end %>
 
  <h1>Show Hand</h1>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Hands</th>
            
          <th>Hand Name</th>
        
      </tr>
    </thead>

    <tbody>
          

                      <td><%= @check.status %></td>
                      <td><%= @check.hand_name %></td>
          
        
          
        
    </tbody>
  </table>
</div>

    </div>
  </div>
</div>
</div>




